@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body {
    @include toRem(font-size, 14);
    min-width: 375px;
    font-weight: 400;
    color: color(black, base);
    overflow-x: hidden;
    line-height: 1.8;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    * {
        &:not([class*="fa"]) {
            font-family: inherit;
        }
    }
    @for $i from 1 through 3 {
        h#{$i} {
            font-weight: bold;
        }
    }  
}